<%= form_for @reply do |form| %>

  <p>
   <%= form.text_area :text %>
   <%= form.hidden_field :tweet_id %>
   <%= form.hidden_field :type %>
   <%= form.hidden_field :user_id %>
  </p>

  <p>
    <%= form.submit 'Reply' %>
  </p>

<% end %>
