<%= form_for @user.tweets.build do |form| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@user.errors.count, 'error') %> prohibited this tweet from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
   <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
