<table class='table' style='width: 100%'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>User</th>
      <th scope='col'>Text</th>
      <th scope='col'>Created</th>
    </tr>
  </thead>
  <% @tweets.each do |tweet| %>
    <% if tweet.tweet_id == @tweet.id %>
      <tr>
        <td><%= tweet.user.first_name + ' ' + tweet.user.last_name %></td>
        <td style='word-wrap: break-word;min-width: 160px;max-width: 160px;'><%= tweet.text %></td>
        <td>created <%= time_ago_in_words tweet.created_at %> ago</td>
        <td><%= link_to 'Reply', new_tweet_reply_path(tweet) %>
        <% if tweet.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_user_tweet_path(current_user, tweet) %></td>
          <td><%= link_to 'Delete', [tweet.user, tweet], method: :delete, data: {confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
