<h1>Tweeter: <%= @tweet.user.first_name + ' ' + @tweet.user.last_name %></h1>
<h2 style="word-wrap: break-word">Message: <%= @tweet.text %></h2>
<%= render 'tweets/new' %>
<%= link_to 'Back', user_path(@tweet.user), class: "btn btn-danger btn-lg btn-block" %>
<%= render 'tweets/replies' %>
