<h3>Published Tweets</h3>
<table style='width: 100%; text-align: center'>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th colspan='4'></th>
  </tr>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.user.first_name + ' ' + tweet.user.last_name %></td>
      <td><%= tweet.text %></td>
      <td><%= tweet.type %></td>
      <td><%= link_to 'Reply', user_tweet_path(@user, tweet) %>
      <% if tweet.user_id == @user.id %>
        <td><%= link_to 'Edit', edit_user_tweet_path(@user, tweet) %></td>
        <td><%= link_to 'Delete', [tweet.user, tweet], method: :delete, data: {confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
